.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toprow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottomrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comp4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
}

.slidegroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.checkgroup {
  display: flex;
  flex-direction: column;
}

.metalcheck {
  display: flex;
  flex-direction: column;
}

.radiogroup {
  display: flex;
  flex-direction: row;
}
